@import "../node_modules/holygrailcss/scss/abstract/breakpoints.scss";


$c-primary: $primary;
// .h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8, .h9, .p1, .p2 { position: relative; &:before { box-sizing: border-box; @include font-regular; left: -20px; position: absolute; width: 18px; height: 18px; border-radius: 50%; background: #edf7f9; font-size: 10px; color: #9c9b9b; text-align: center; padding-top: 3px; } }
// .h1 {
//   &:before {
//     content: 'h1';
//   }
// }
// .h2 { &:before { content: 'h2'; } }
// .h3 { &:before { content: 'h3'; } }
// .h4 { &:before { content: 'h4'; } }
// .h5 { &:before { content: 'h5'; } }
// .h6 { &:before { content: 'h6'; } }
// .h7 { &:before { content: 'h7'; } }
// .h8 { &:before { content: 'h8'; } }
// .h9 { &:before { content: 'h9'; } }
// .p1 { &:before { content: 'p1'; } }
// .p2 { &:before { content: 'p2'; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {

  overflow-x: hidden;
  background: #000;
  color: #fff;
}
.bg-light {
  background-color: $bg-light;
  color: #000;
}
.bg-red {
  background-color: $primary;
}
.redkivnon {
  color: $primary;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: white;
  color: black;
}
.c-gray {
  color: #818181;
}
.c-primary {
  color: $primary;
}
.bg-primary {
  background-color: $primary;
}
.bold {
  @include font-bold;
}

.h7 {
  @include font-bold;
}
.h8 {
  @include font-bold;
}
.xtitle {
  font-size: 15px;
  @include font-bold;
  width: 100%;
  margin: 30px 0;
  padding: 20px 0;
  text-align: center;
  position: relative;
  color: black;
  .xtitle-inner {
    width: 200px;
    color: #000;
    background: black;
    color: white;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    display: inline-block;
  }
  &:after {
    content: " ";
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
  }
}
.container-8 {
  max-width: 1000px;
}
.container-9 {
  margin: 0 auto;
  width: 100%;
  max-width: 910px;
}
pre {
  width: 100%;
  overflow: auto;
  margin: 0 auto;
  max-width: 600px;
}
code[class*="language-"],
pre[class*="language-"] {
  line-height: 1 !important;
}
*,
:after,
:before {
  box-sizing: border-box;
}

.text-gray {
  color: #626262;
}
.kv-input {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  background-color: #ffffff;
}
.box-shadow {
  background-color: #ffffff;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
}
.link1 {
  display: inline-block;
  color: $primary;
  @include font-bold;
  font-size: 13px;
  letter-spacing: 3px;
  line-height: 16px;
  text-align: left;
  &:after {
    display: none;
  }
}
/************ box1 ***********/
.box1 {
  background-color: $bg-light;
  padding: 24px 16px 0px 16px;
}

.bg-box {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.rat-4-1 {
  @include ratio(4, 1);
}

.rat-2-4 {
  @include ratio(2, 4);
}

/************ box2 ***********/
.box2 {
  .box2-wrap {
    @media (min-width: $break-sm) {
      min-height: 330px;
    }
  }
  .box2-inner {
    text-align: left;
    position: relative;
    padding: 32px 32px 100px;
  }
  .box2-link {
    position: absolute;
    bottom: 20px;
  }
}
/************ box3 ***********/
.box3 {
  .box3-wrap {
    min-height: 330px;
    text-align: left;
    position: relative;
    padding: 32px 32px 100px;
  }
  .box3-link {
    position: absolute;
    bottom: 20px;
  }
}
/************ box4 ***********/
.box4 {
  .box4-wrap {
    margin-bottom: 100px;
    padding-bottom: 100px;
    @media (min-width: $break-sm) {
      padding-bottom: 0px;
    }
  }
  .box4-inner {
    text-align: left;
    position: relative;
    padding: 32px 32px 180px;
  }
  .box4-link {
    position: absolute;
    bottom: 40px;
  }
  .box4-ad {
    position: absolute;
    width: 50%;
    left: 25%;
    padding: 10px;
    background: #fff;
    z-index: 10;
    top: 60%;
  }
}
/************ box5 ***********/
.box5 {
  width: 100%;
  float: left;
  .box5-img {
    float: left;
    width: 100%;
    @media (min-width: $break-sm) {
      width: 60%;
    }
  }
  .box5-wrap {
    float: left;
    width: 100%;
    text-align: left;
    padding: 32px 32px 100px;
    @media (min-width: $break-sm) {
      width: 40%;
      min-height: 330px;
    }
  }
  .box5-link {
    position: absolute;
    bottom: 20px;
  }
}
/************ box6 ***********/
.box6 {
  background-color: white;
  padding: 54px 40px 90px 40px;
  position: relative;
  width: 100%;
  .box6-link {
    position: absolute;
    bottom: 30px;
  }
}
.box12 {
  background-color: #fff;
  padding: 54px 40px 90px;
  position: absolute;
  width: 60%;
  bottom: 40px;
  .box12-link {
    position: absolute;
    bottom: 30px;
  }
}
/************ block-k3 ***********/
.block-k3 {
  .block-k3-inner {
    width: 100%;
    @media (min-width: $break-md) {
      width: 70%;
    }
  }
  &.block-k3-right {
    .block-k3-inner {
      float: right;
    }
  }
  &.block-k3-left {
    .block-k3-inner {
      float: left;
    }
    .box3 {
      @media (min-width: $break-md) {
        margin-top: -191px;
        left: auto;
        right: 30%;
        margin-right: -165px;
      }
    }
  }
  .box3 {
    max-width: 100%;
    position: relative;
    margin-top: 0;
    margin: 0 auto;
    margin-left: 0;
    z-index: 2;
    @media (min-width: $break-md) {
      margin-top: 40px;
      margin-bottom: 40px;
      max-width: 330px;
      left: 30%;
      margin-left: -165px;
    }
    .box3-wrap {
      min-height: auto;
      @media (min-width: $break-md) {
        min-height: 330px;
      }
    }
  }
  .block-k3-wrap {
    top: 0;
    position: relative;
    z-index: 0;
    @media (min-width: $break-md) {
      top: 0;
      position: absolute;
      z-index: 0;
    }
  }
}
/************ block-k4 ***********/
.block-k4 {
  .box6 {
    position: relative;
    background-color: #fff;
    padding: 40px;
    @media (min-width: $break-md) {
      position: absolute;
      padding: 40px 40px 100px 40px;
      bottom: 40px;
    }
  }
}
/************ kv-logos ***********/
.kv-logos-wrap {
  .kv-logos-item {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 8px;
    padding-top: 10px;
    padding-bottom: 20px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0.6;

    @media (min-width: $break-md) {
      margin: 0 14px;
      padding-top: 20px;
    }

    &:hover {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      opacity: 1;
      cursor: pointer;
    }
  }
}
.kv-subfooter {
  padding-bottom: 50px;
  img {
    padding-right: 10px;
  }
}
.box7 {
  padding: 40px 0px 40px 0px;
  position: relative;
  width: 100%;
  .box7-wrap {
  }
  &.leftbox {
    padding: 20px;
    @media (min-width: $break-sm) {
      padding: 40px 40px 40px 100px;
    }
  }
  &.rightbox {
    padding: 20px;
    @media (min-width: $break-sm) {
      padding: 40px 100px 40px 40px;
    }
  }
}
.box8 {
  padding: 20px;
  position: relative;
  width: 100%;
  min-height: 360px;
  p {
    opacity: 0.5;
  }
  .box8-wrap,
  .box8-img {
    min-height: 250px;
    max-width: 400px;
    margin: 0 auto;
  }
}

.box9 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #b1b1b1;
  @media (min-width: $break-sm) {
    max-width: 270px;
    min-height: 200px;
  }
}
.box9-header {
  width: 100%;
  height: 50px;
}

.box-mini {
  .box9 {
    min-height: auto;
  }
}

.block-k1 {
  padding: 8px;
}
.block-k5 {
  position: relative;
  padding: 0px;
  @media (min-width: $break-md) {
    margin-top: 100px;
    min-height: 300px;
  }
  @media (min-width: $break-lg) {
    margin-top: 100px;
    min-height: 500px;
  }
  .container-fluid {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: $bg-light;
    padding-top: 20px;
    bottom: 0;
  }
  .block-k5-img {
    position: relative;
    bottom: 0;
  }
  .block-k5-txt {
    padding: 20px;
  }
  .block-k5-wrap {
    display: block;
  }
  @media (min-width: $break-md) {
    .block-k5-img {
      position: absolute;
      bottom: 0;
    }
    .block-k5-txt {
      padding: 20px;
    }
    .block-k5-wrap {
      display: flex;
    }
  }
  @media (min-width: $break-lg) {
    .block-k5-img {
      position: absolute;
      bottom: 0;
    }
    .block-k5-txt {
      padding: 60px;
    }
  }
}
.block-k6 {
  position: relative;
  padding: 50px 0;
  margin: 50px 0;
  .block-k6-bg {
    bottom: 0;
    position: absolute;
    z-index: 1;
    text-align: center;
  }
  .block-k6-name {
    width: 100%;
    position: absolute;
    top: 0;
    @include font-bold;
    font-size: 180px;
    line-height: 1;
    opacity: 0.1;
    z-index: 2;
    text-align: center;
    @media (min-width: $break-lg) {
      font-size: 230px;
    }
  }
  .block-k6-img {
    position: relative;
    margin: 0 auto;
    width: 50%;
    max-width: 300px;
    z-index: 3;
  }
  .block-k6-wrap {
    position: relative;
    z-index: 2;
  }
}
.block-k7 {
  padding: 20px;
  background-color: #fff;
}
.block-k8 {
  color: #fff;
  min-height: 145px;
  width: 90%;
  background-color: $primary;
  position: absolute;
  margin-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  @media (min-width: $break-md) {
    width: 50%;
  }
}
.block-k8-wrap {
  padding-bottom: 72px;
  margin-bottom: 100px;
}
.inline-b {
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  div {
    display: inline-block;
    vertical-align: middle;
  }
}
.block-k9 {
  padding: 20px;
  background-color: #ccc;
  position: relative;
  min-height: 450px;
  @media (min-width: $break-md) {
    padding: 40px;
  }
  .block-k9-box {
    position: absolute;
    bottom: 40px;
    padding: 20px;
    width: calc(100% - 40px);
    background-color: #fff;
    @media (min-width: $break-md) {
      width: 60%;
    }
  }
}
.block-k10 {
  color: #fff;
  position: relative;
  width: 90%;
  color: #fff;
  position: relative;
  background-color: $primary;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: $break-md) {
    padding-left: 0px;
    width: 60%;
  }
}

.block-k10-wrap {
  position: absolute;
  z-index: 10;
  width: 100%;

  .block-k10 {
    margin-top: -60px;
  }
}

.svg-pre {
  position: relative !important;
  top: 8px !important;
  left: 0px;
  margin-right: 10px;
}
.bg-gray-d {
  width: 100%;
  height: 50%;
  position: absolute;
  background-color: #f5f5f5;
  z-index: -1;
}
.home-img {
  float: right;
  margin-right: -16px;
}
.ml-content {
  margin-left: 16px;
  margin-right: 16px;
  @media (min-width: $break-sm) {
    margin-left: calc((100vw - 768px) / 2);
  }
  @media (min-width: $break-md) {
    margin-left: calc((100vw - 992px) / 2);
  }
  @media (min-width: $break-lg) {
    /* 1200px*/
    margin-left: calc((100vw - 1280px) / 2);
  }
}

.mr-content {
  margin-left: 16px;
  margin-right: 16px;
  @media (min-width: $break-sm) {
    margin-right: calc((100vw - 768px) / 2);
  }
  @media (min-width: $break-md) {
    margin-right: calc((100vw - 992px) / 2);
  }
  @media (min-width: $break-lg) {
    /* 1200px*/
    margin-right: calc((100vw - 1280px) / 2);
  }
}
.h3 {
  font-family: $font-family-bold;
}
.elip-multiline {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (min-width: $break-md) {
    min-height: 80px;
  }
}
.block-k9 {
  background-size: cover;
  background-position: top right;
}

.kv-form {
  label {
    float: left;
  }
  textarea {
    float: left;
  }
}
.round-line {
  margin: 20px 0;
  position: relative;
}
.round {
  position: relative;
  z-index: 10;
  width: 28px;
  height: 28px;
  border: 2px solid $c-primary;
  background-color: #fff;
  border-radius: 50%;
}
.line {
  position: absolute;
  top: 13px;
  background-color: $c-primary;
  height: 2px;
  width: 100%;
}
.box11 {
  max-width: 300px;
}
.bg-img {
  background-size: cover;
  background-position: bottom right;
  position: relative;
}
.kv-present {
  color: #fff;
  height: 125px;
  width: 100%;
  background-color: $primary;
  bottom: 100px;
  z-index: 10;
  position: absolute;
  bottom: -60px;
  padding: 20px;
  div {
    width: 400px;
  }
}
.hg-overflow {
  overflow-x: hidden;
}
.kv-product {
  position: absolute;
  right: 0;
  width: 59%;
  z-index: 10;
  bottom: -60px;
  z-index: 11;
}
.tag-select {
  display: inline-block;
  color: $primary;
  font-size: 14px;
  padding: 10px 20px;
  @include font-bold;
  &:hover,
  .active {
    background-color: $bg-light;
    cursor: pointer;
  }
}
.hg-half {
  padding: 100px 0;
  &:after {
    content: "";
    width: 50%;
    height: 100%;
    background-color: $bg-light;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
.hg-half-img {
  width: 100%;
  margin-left: -50%;
}
.hg-half-text {
  max-width: 150px;
  background-color: $bg-light;
  padding: 30px 0;
  right: -75px;
  top: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hg-half-wrap {
  position: relative;
  max-width: 400px;
  height: 695px;
  border: 1px solid #b1b1b1;
}
.kv-product-box {
  width: 100%;
  max-width: 300px;
}
.o-hidden {
  overflow: hidden;
}
.kv-module-14 {
  text-align: center;
  width: 100%;
  .kv-module-14-item {
    height: 130px;
    width: calc(100% / 7);
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.3 ease;
    @include font-bold;
    padding: 16px;
    transition: all 0.3s ease;
    &:hover {
      background-color: #f0efeb;
      transition: all 0.3 ease;
      cursor: pointer;
    }
    svg {
      margin: 10px auto;
      width: 100%;
      height: 32px;
      box-sizing: border-box;
    }
  }
}

.bg-kivnon {
  background-color: $primary;
  p {
    color: #fff;
  }
  b {
    color: #fff;
  }
}

.bg-logo {
  position: absolute;
  top: 10%;
  top: -10%;
}
.bg-logo2 {
  position: absolute;
  top: -42%;
  left: -20%;
}

.bg-logo-right {
  position: absolute;
  top: -10%;
  right: -20%;
}

.bg-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  bottom: 0;
  z-index: 0;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.height-media {
  height: 400px;
  @media (min-width: $break-md) {
    min-height: calc(100vh - 150px);
  }
}

.kv-footer-align {
  a {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    transition: all 0.2s ease;

    &:hover {
      filter: grayscale(0%);
    }
  }
}

ul.list-inline {
  margin: 0 -8px;
}

.box-mini-video {
  width: 200px;
  height: 100px;
  background-color: rgb(145, 145, 145);
  border-radius: 10px;
  overflow: hidden;
  color: white;
  background-size: cover;
  background-position: center center;
}

.box1-img {
  height: 100%;
}

.box1-wrap {
  .link1 {
    padding-right: 0;
  }
}
.waves-img {
  position: absolute;
  z-index: 10;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
}
#fondo1 {
  position: absolute;
  width: 100%;
  left: 0;
}
.waves {
  z-index: 5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  left: -5px;
  svg {
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
  }
  #waves-1 {
    width: 100%;
    height: 70px;
    opacity: 0;
    animation: appear 2s infinite;
  }
  #waves-2 {
    width: 100%;
    height: 70px;
    opacity: 0;
    animation: appear 2s infinite;
  }
  #waves-3 {
    width: 100%;
    height: 70px;
    opacity: 0;
    animation: appear 2s infinite;
  }
  #waves-1 {
    animation-delay: 0.1s;
  }
  #waves-2 {
    animation-delay: 0.2s;
  }
  #waves-3 {
    animation-delay: 0.3s;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.btn:focus {
  outline: none;
}

.kv-block11-num {
}

.kv-block11-title {
  position: relative;
  z-index: 10;
}
.kv-block11-link {
  position: relative;
  padding: 20px 0;

  width: 100%;

  @media (min-width: $break-sm) {
    position: absolute;
    bottom: 0;
  }
}

.point {
  width: 50%;
  position: relative;
  div {
    right: -8%;
    bottom: 0;
    position: absolute;
  }

  svg{
    max-width: 1200px;
  }
  .mini-point {
    width: 6%;
    bottom: 16%;
    border-radius: 50%;
    background-color: $primary;
  }
}

.rat-content {
  .swiper-container {

    transition: -webkit-all .2s cubic-bezier(0.07, 0.18, 0.06, 0.99);
    transition: all .2s cubic-bezier(0.07, 0.18, 0.06, 0.99);
    transition: all .2s cubic-bezier(0.07, 0.18, 0.06, 0.99),
      -webkit-all .2s cubic-bezier(0.07, 0.18, 0.06, 0.99);
  }

  &:hover {
    .swiper-container {
      
     
    }
  }
}

.vertical-wrap {
  width: 50vw;
}

.vertical-wrap,
.vertical-wrap-2 {
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.vertical-wrap,
.vertical-inner {
  display: block;
}

.vertical-inner,
.kv-block-text {
  transform: translateY(100px);
  opacity: 0;
}

.opened {
  .vertical-inner {
    animation: 1.5s verticalReveal 1 cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: both;
  }

  .kv-block-text {
    animation: 1.5s verticalReveal 1 cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: both;
  }
}

@keyframes verticalFadeIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes verticalReveal {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes numFade {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 0;
  }

  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 1;
  }
}
@keyframes lineFade {
  0% {
    width: 0;
  }
  10% {
    width: 0;
  }

  50% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

.kv-block11-num {
  position: relative;
  display: inline-block;

  text-align: right;
  height: 32px;
  width: 100px;

  .num {
    position: absolute;
    top: 0;
    opacity: 0;



  }

  &:after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 0;
    height: 2px;
    background-color: $primary;


  }
}

.rat-3-2 {
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.07, 0.18, 0.06, 0.99);


}

.opened{
  .kv-block11-num {
    .num {
      animation: 3s numFade 1 cubic-bezier(0.19, 1, 0.22, 1);
      animation-fill-mode: both;
    }
    &:after {
      animation: 3s lineFade 1 cubic-bezier(0.19, 1, 0.22, 1);
      animation-fill-mode: both;
    }
  }

  .rat-3-2 {
    opacity: 1;

  }
}



.swiper-pagination,.swiper-button-prev,.swiper-button-next{
  display: none;
}



.cursor {
  position: fixed;
  background-color: white;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  transform: scale(1);
}
.cursor-follow {
  position: fixed;
  background-color: #f70154;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  z-index: 1000;
  mix-blend-mode: difference;
  user-select: none;
  pointer-events: none;
}

.mix-blend{
  mix-blend-mode: difference;

}

.swiper-extras{
  background-color: rgba(250%, 250%, 250%, 0.1);
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0 ;
  padding: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

